@import "./loader.css";

:root {

  /* Upload form */
  --form-bg: rgb(244, 244, 244);
  --form-border: rgb(209, 209, 209);

  /* Upload button */
  --btn-bg: rgb(52, 185, 52);
  --btn-textColor: aliceblue;

  /* Upload button hover */
  --btn-bg-hover: rgb(42, 152, 42);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.upload-form {
  background-color: var(--form-bg);
  border: 1px solid var(--form-border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: space-around;
  max-width: 300px;
  min-height: 120px;
}

.upload-form label {
  padding: 10px 0 10px 10px;
  font-size: 18px;
}

#upload-image {
  padding: 10px 0;
}

.upload-btn {
  background-color: var(--btn-bg);
  color: var(--btn-textColor);
  border: 0;
  border-radius: 10px;
  width: min-content;
  padding: 5px 20px 5px;
  margin: 0 auto 10px;
  cursor: pointer;
  transition: .5s ease;
  display: block;
}

.disabled {
  display: none;
}

.upload-btn:hover {
  background-color: var(--btn-bg-hover);
}

#output {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  justify-content: center;
  flex-wrap: wrap;

}

.file-wrapper {
  /* width: 300px;
  height: 400px; */
  position: relative;
}

.file-wrapper img {
  display: block;
  height: 250px;
  margin: 5px;
  border-radius: 10px;
}

.delete-btn {
  display: none;
  border: 2px solid #fefefe;
  border-radius: 20px;
}

.file-wrapper:hover .delete-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: red;
  display: block;
  font-size: 16px;
  padding: 0;
}